#logo {
  font-family: "Arial", sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #1A98FF;
  letter-spacing: 2px;
  margin-left: 150px;
}

#user {

  h3 {
    color: white;
    margin-bottom: 0;
  }

  div {
    width: 40px;
    height: 40px;
    background-color: white;
    position: relative;

    p {
      margin: 0;
      font-weight: 900;
      font-size: 15px;
      color: #00050D;
    }

    span {
      width: 10px;
      height: 10px;
      background-color: green;
      position: absolute;
      right: 0;
      bottom: 0;
    }

    .dropdown-item:hover {
      color: #1A98FF
    }
  }
}

nav {

  a {
    color: #00050D;


  }

  &:hover {
    color: #1A98FF
  }

}
