#logo {
  font-family: "Arial", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #1A98FF;
  letter-spacing: 2px;

}

#user {

  h3 {
    color: white;
    margin-bottom: 0;
  }

  div {
    width: 40px;
    height: 40px;
    background-color: white;
    position: relative;

    p {
      margin: 0;
      font-weight: 900;
      font-size: 15px;
      color: #00050D;
    }

    @keyframes spanAnimation {
      0% {
        transform: scale(1);
        background-color: green;
      }
      50% {
        transform: scale(1.15);
        background-color: lightgreen;
      }
      100% {
        transform: scale(1);
        background-color: green;
      }
    }

    span {
      width: 15px;
      height: 15px;
      background-color: green;
      position: absolute;
      right: 0;
      bottom: 0;
      animation: spanAnimation 2s infinite;
    }


    .dropdown-item:hover {
      color: #1A98FF
    }
    .dropdown-menu{
      left: -125px;
    }
  }
  .dropdown-toggle::after{
  color: #00050D;

}
}

nav {
background-color: #00050D;
}
.active{
  color: #1A98FF!important
}

