<main>
  <h1 class="text-center">I film del momento</h1>
  <section class="d-flex justify-content-between flex-wrap container">
    <div *ngFor="let movie of movies, let i = index">
      <div class="card m-2" style="width: 200px">
        <img class="rounded" type="button" [src]="'http://image.tmdb.org/t/p/w500' + movie.poster_path"
          class="card-img-top" [alt]="movie.title" />
        <div class="card-body" style="background-color: black">
          <h3 class="card-title text-center" style="height: 70px">
            {{ movie.title }}
          </h3>

          <a *ngIf="!isMovieInCart(movie.id)"  class="btn btn-primary" (click)="addToCart(movie.id)">
            Guarda più tardi
          </a>
          <a *ngIf="isMovieInCart(movie.id)" class="btn btn-primary" (click)="removeFromCart(movie.id)">
            Aggiunto al catalogo
          </a>
        </div>
      </div>
    </div>
  </section>
</main>
