/* You can add global styles to this file, and also import other style files */


body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(to bottom, #000000, #373737);
  color: #fff;
  height: 1500px;
}
main {
  margin-top: 100px;

}


