main {
  color: white;
  margin-top: 250px;
}

a {
  background-color: transparent;
  background-color: hsla(0, 0%, 100%, 0.2);
  border: none;

  i {
    font-size: 20px;
  }


}

.card {
  transition: transform 0.2s;
  border: none;
  box-shadow: none;
  background-size: cover;

  &:hover {
    transform: scale(1.05);
    border: none;
    box-shadow: none;

  }

  img {
    overflow: hidden;
  }

  .card-body {
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2));

    h3 {
      height: 135px;
      font-weight: 500;
    }
  }

}

.input-search {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.input-search input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1;
  margin-right: 10px;
}

.input-search a {
  display: inline-block;
  padding: 10px;
  background-color: transparent;
  color: #fff;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.input-search a:hover {
  background-color: #0056b3;
  border-radius: 100%;
}
