footer{
  background-color: #00050D;
  height: 50px;

  ul{
    padding-left: 0;
  }
  ul li{
    color: white;
    list-style-type: none;
    margin-left: 20px;
  }
  #logo {
    font-family: "Arial", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #1A98FF;
    letter-spacing: 2px;

  }
}
