.card {
  max-width: 400px;
  margin: 0 auto;
  border: none;
}

.movie-details {
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: auto;
}

.text-detail {
  font-size: larger;
  font-weight: 500;

  h2 {
    font-size: 40px;
    font-size: larger;
    font-weight: 500;
  }
}

a {
  text-decoration: none;

  &:hover {
    color: black;
  }
}

.card-img-top {
  position: relative;
}

.vote-average {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
}

.card-img-overlay{
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1));

  h2,p{
  color: white;
}
}

.modal-body{
  background: linear-gradient( rgba(0, 0, 0),rgba(0, 0, 0, 0.9));
  h3{
    font-size: 20px;
  }
}
