

.container {


  margin: 0 auto;

}
h1,p{
    color: white;
  }
form {

  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items:center;
  margin-left: 50px;
  margin-right: 50px;

}

label {
  color: #fff;
  font-size: 16px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #555;
}

.spinner-border {
  color: #fff;
  margin-left: 5px;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: text-bottom;
  border: 0.2em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spinner-border 0.75s linear infinite;
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}
